<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Books</title>

    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/bootstrap.min.css" type="text/css" />

    <link rel="stylesheet" href="/styles/layout.css" type="text/css" />
    <link rel="stylesheet" href="/styles/home.css" type="text/css" />

    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <script type="text/javascript" src="/vendor/bootstrap.min.js"></script>
    <script type="text/javascript" src="/scripts/app.js"></script>

  </head>

  <body>
      <!-- PARTIALS -->
      <% include partials/_header %>

      <!-- MOVIES -->

      <h1>Movies</h1>
      <%console.log(items);%>
      <% const movies = items.filter(item => item.category_name == 'Movies');%>
      <%console.log(movies);%>
      <ul>
        <% movies.map(item => { %>
          <li class="list_item">
              <label>
                <input type="checkbox" <% if (item.done) { %> checked="checked" <% } %> />
                <span class="term_name" ><%= item.name %></span>
                
                
                <form action="/api/items/delete" method="POST">
                  <input type="hidden" name="item_id" value="<%= item.id %>" />
                  <button class="btn btn-primary" type="submit">Delete</button>
                </form>
              </label>
            </li>
        <% }) %>
      </ul>

      <!-- BOOKS -->

        <h1>Books</h1>
        <% const books = items.filter(item => item.category_name == 'Books');%>

        <ul>
          <% books.map(item => { %>
            <li class="list_item">
                <label>
                  <input type="checkbox" <% if (item.done) { %> checked="checked" <% } %> />
                  <span class="term_name" ><%= item.name %></span>
                  
                  
                  <form action="/api/items/delete" method="POST">
                    <input type="hidden" name="item_id" value="<%= item.id %>" />
                    <button class="btn btn-primary" type="submit">Delete</button>
                  </form>
                </label>
              </li>
          <% }) %>
        </ul>

      <!-- PRODUCTS -->
        <h1>Products</h1>
      <% const products = items.filter(item => item.category_name == 'Products');%>

        <ul>
          <% products.map(item => {%>
            <li class="list_item">
                <label>
                  <input type="checkbox" <% if (item.done) { %> checked="checked" <% } %> />
                  <span class="term_name" ><%= item.name %></span>
                  
                  
                  <form action="/api/items/delete" method="POST">
                    <input type="hidden" name="item_id" value="<%= item.id %>" />
                    <button class="btn btn-primary" type="submit">Delete</button>
                  </form>
                </label>
              </li>
            <% }) %>
        </ul>

        <h1>Restaurants</h1>
      <% const restaurants = items.filter(item => item.category_name == 'Restaurants');%>
         <ul>
          <% restaurants.map(item => { %>
            <li class="list_item">
                <label>
                  <input type="checkbox" <% if (item.done) { %> checked="checked" <% } %> />
                  <span class="term_name" ><%= item.name %></span>
                  
                  <form action="/api/items/delete" method="POST">
                    <input type="hidden" name="item_id" value="<%= item.id %>" />
                    <button class="btn btn-primary" type="submit">Delete</button>
                  </form>
                </label>
              </li>
          <% }) %>
        </ul>
      </body>
    </html>
